.container {
    width: 100%;
    min-height: 2em;
    padding: .5em;
    margin-top: 1em;
    color: black;
    border-top: 1px solid gray;
    background-color: light gray;
}

/* footer.css */
.footer {
  position: fixed;       /* always floats at bottom */
  bottom: 0;
  left: 0;
  right: 0;
  height: 80px;         /* reserve exactly 100px */
  background-color: #BF5700; /* burnt orange */
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-top: 2px solid #ddd;
  z-index: 1000;
  font-size: 10pt;
}

/* Ensure page content doesn't overlap footer */
.page-content {
  padding-bottom: 100px;
}